<p><%= "Based on your quiz answers, you are looking for a cat that is: #{@keywords.join ', '}" %></p>
<p><%= "and you would prefer a cat who is not: #{@exclude_keywords.join ', '}" %></p>
<p><%= "Here are your results..." %> </p>
<br>
<% @matches.each do |match| %>
  <div>
    <p><p style="font-size:20px text-align:center"><%= "Name: #{match['name']}" %></p>
    <p><% match['photos'].each do |photo| %>
        <%= image_tag photo['medium'] %>
      <% end %>
    </p>
    <p><%= "Description: #{match['tags'].join ', '}" %></p>
    <p><%= "Percent matching tags: #{match['percent']}" %></p>
    <p><%= link_to nil, match['url'] %></p>
  </div>
  <p></p>
<% end %>
