<% x = 0 %>
<p><%= "Based on your quiz answers, you are looking for a cat that is: #{$keywords.to_s.delete "']''""''['"}" %></p>
<p><%= "Here are your results..." %> </p>
<br>
<% @matches.each do |match| %>
  <div>
    <p><p style="font-size:20px text-align:center"><%= "Name: #{match['name']}" %></p>
    <p><% match['photos'].each do |photo| %>
        <%= image_tag photo['medium'] %>
      <% end %>
    </p>
    <p><%= "Description: #{match['tags'].to_s.delete "']''""''['"}" %></p>
    <p><%= "Percent matched: #{$percent[x]}%" %></p>
    <% x = x + 1 %>
    <p><%= link_to nil, match['url'] %></p>
  </div>
  <p></p>
<% end %>
