<%= form_tag("/cats", method: "get") do %>
<% counter = 0 %>
  <% @quiz.questions.each_with_index do |question, index| %>
    <div>
      <%= label_tag("q#{index}", question[:question]) %>
    </div>
    <div>
      <% if question[:options] %>
        <% for option in question[:options] %>
           <%= check_box_tag("q#{counter}_#{option}", "#{option}", checked="checked") %>
           <%= label_tag("q#{counter}", "#{option}") %>
        <% end %>
      <% else %>
          <%= radio_button_tag("q#{index}", "yes", checked="checked") %>
          <%= label_tag("q#{index}_yes", "Yes") %>
          <%= radio_button_tag("q#{index}", "no") %>
          <%= label_tag("q#{index}_no", "No") %>
      <% end %>
      <% counter = counter + 1 %>
    </div>
  <% end %>
<div>
  <div>
    <%= submit_tag("Find Cats") %>
  </div>
<% end %>
