<%= form_tag("/cats", method: "get") do %>
<% counter = 0 %>
<% total_count = @quiz.questions.count %>
<% total_count = total_count - 1 %>
<% ages = ['baby', 'young', 'adult', 'senior'] %>

  <% @quiz.questions.each_with_index do |question, index| %>
    <div>
      <% if counter < total_count %>
      <%= label_tag("q#{index}", question[:question]) %>
      <div>
      <%= radio_button_tag("q#{index}", "yes") %>
      <%= label_tag("q#{index}_yes", "Yes") %>
      <%= radio_button_tag("q#{index}", "no") %>
      <%= label_tag("q#{index}_no", "No") %>
      </div>
      <% else %>
      <%= label_tag("q#{total_count}", question[:question]) %>
      <div>
        <% ages.each do |age| %>
           <%= check_box_tag("q#{total_count}", "#{age}") %>
           <%= label_tag("q#{total_count}_ages", "#{age}") %>
           <% total_count = total_count + 1 %>
        <% end %>
        </div>
        <% end %>
        <% counter = counter + 1 %>
    <% end %>
    </div>

    <div>
    <%= submit_tag("Find Cats") %>
    </div>

<% end %>
